@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');

.login-box {
    width: 0;
    height: 1px;
    padding: 0;
    transition: width 1.5s, height 1.5s, padding 1.5s !important;
}

body.light-theme .login-box {
    border: black solid 1px;
    box-shadow: black 0 0 3px;
}
body.dark-theme .login-box {
    border: white solid 1px;
    box-shadow: white 0 0 3px;
}

.numberId, .numberId * {
    font-family: "Graduate", cursive !important;

}