@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.login-box {
    width: 0;
    height: 1px;
    transition: width 2s, height 2s !important;
}

body.light-theme .login-box {
    border: black solid 1px;
    box-shadow: black 0 0 3px;
}
body.dark-theme .login-box {
    border: white solid 1px;
    box-shadow: white 0 0 3px;
}

.numberId {
    font-family: "Fredoka One", cursive;
}